# APP
PORT=3004
SERVICE_NAME=adoptions-service
NODE_ENV=development
LOG_LEVEL=info

# DATABASE
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_database_password
DB_NAME=your_database_name

# SERVICES
AUTH_SERVICE_URL=http://localhost:3001
PETS_SERVICE_URL=http://localhost:3003
NOTIFICATIONS_SERVICE_URL=http://localhost:3005
