# APP
PORT=3001
SERVICE_NAME=auth-service
NODE_ENV=development
LOG_LEVEL=info

# DATABASE
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_database_password
DB_NAME=your_database_name

# SECURITY
JWT_SECRET=your_jwt_secret_here

# FRONTEND
CORS_ORIGIN=http://localhost:5173
